html{
    font-size: 17px;
}

/* body{
    background-color: black;
    color: white;
}
h1{
    color: yellow;
} */
/* a{
    color: black;
}
a :visited{
    color: greenyellow;
}
a:hover , a:active{
color:  crimson;
} */
table, tr, th, td, caption {
    /* border: 1px solid #eee; */
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}